body{
    background-color: rgb(130, 152, 163);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
table{
    width: 100%;
    margin-bottom : .7em;
    table-layout: fixed;
    text-align: center;
}
td{
    padding: .7em;
    margin: 3;
    text-align: center;
    border-radius: 50px;
    border-color: white;
    border-style: groove;
}
td.name{
    font-size: x-large;
}
img{
    border-style: groove;
    color: aliceblue;
    margin: 13px;
    border-radius: 250px;
    width: 230px;
    height: 230px;
}
h1{
    background-color: white;
    color: rgb(130, 152, 163);
}
h3{
    margin: 0;
}
h2{
    background-color: white;
    color: rgb(130, 152, 163);
}
p{
    text-align: start;
    display: contents;
    position: absolute;
}
a{
    color: white;
    text-decoration: none;
}
svg{
    color: antiquewhite;
}


