body{
    background-color: rgba(244, 245, 238, 0.54);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}
#tabela{
    background-color: rgba(253, 253, 251, 0.54);
    border-radius: 12px;
    display: inline-flex;
}
input{
    margin: 10px;
    border-radius: 10px;
    border-color: darkblue;
    text-align: center;
    background-color: rgba(248, 249, 249, 0.604);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
table, tr, td{
    border: 2px;
    border-radius: 7px;
    border-style:outset;
    border-color: rgb(1, 38, 250);
}

button{
    background-color: darkblue;
    border: 2px;
    border-radius: 10px;
    border-style: outset;
    border-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: azure;
}
h1{
    color: darkblue;
}
h5{
    color:darkblue;
    margin: 0 auto;
    height: 10px;
    text-align:center;
}
p{
    color: darkblue;
    text-decoration-color: darkblue;
    text-decoration-line: underline;
}